// tablet

@media ( max-width: 992px )
    .promo
        padding: 21px 10px 93px
        .button:hover
            background-color: #C70101
        &__title
            font-size: 38px
        &__subtitle
            font-size: 20px
    .benefits
        &__title
            font-size: 25px

    // small tablet
@media ( max-width: 768px )
    .promo
        &__title
            font-size: 35px
        &__subtitle
            font-size: 18px
        .button_main
            width: 250px
            height: 48px
            font-size: 16px
    .benefits
        padding-right: 10px
        padding-left: 10px
        &__block
            width: 250px
            margin-right: 15px
            &:last-child
                margin-right: 0

// mobile phone
@media ( max-width: 576px )
    .promo
        background: url('../img/first_screen_mobile.jpg') center center/cover no-repeat
        .header
            &__logo
                img
                    max-width: 170px
            &__official
                display: none
            &__phone
                font-size: 14px
            .button
                width: 127px
        &__title
            font-size: 24px
        &__subtitle
            font-size: 13px
        &__icons
            max-width: 300px
        &_icon
            margin: 0 auto
        .button_main
            width: 230px
            height: 40px
            font-size: 15px
    .benefits
        &__title
            font-size: 23px
        &__wrapper
            flex-direction: column
        &__block
            margin: 0 auto 20px
        &__subtitle
            margin-top: 7px
        &__text
            margin-top: 5px
