@mixin button
    width: 153px
    height: 32px
    border-radius: 5px
    border: none
    background-color: $main_color
    font-weight: 500
    font-size: 12px
    text-align: center
    text-transform: uppercase
    color: $white
    cursor: pointer
    align-items: right

    &:hover
        background-color: #8d0303
