.promo
    min-height: 650px
    padding: 21px 0 93px
    background: url('../../img/first_screen.jpg') center center/cover no-repeat
    &__wrapper
        display: flex
        flex-direction: column
        align-items: flex-end
